<footer style="border-top:2px solid #b80000">
    <div class="container col-lg-12 text-center">
       <div class="container col-lg-1 col-lg-offset-5">
            <p class="pull-right">
               <img class="img-responsive" src="app/home/img/husky.png" width="25" height="25"> 
            </p>
       </div>
       <div class="container col-lg-6 col-lg-offset-3" style="color: black">
           © 2016 MarketHub ™, hoping to help you find what you need!
       </div>
   </div>
</footer>